{% extends 'base.html' %}
{% block about_body %}
<div class= 'about_head'> <h2><span> >> </span> About Us </h2></div>
<div class="row" style="margin-top: 50px;">
    <div class="col-sm-6">
        <img src="http://www.suvizion.com/img/man-people-space-desk.jpg" alt="about_pic" class="about_us_img">
    </div>
    <div class="col-sm-6">
        <h1 style="margin-bottom: 15px;">About <span style="color: rgb(10, 132, 203);">PEARL infotech</span></h1>
        <h4 class="about_p1">
            Add Pearl Info Private Limited was founded in 2013 by an enterprising entrepreneur Mr. Amit Mehta with a vision dedicated to providing the most reliable, innovative, and customer-focused IT services and solutions to organizations. It is a well-established IT Products &amp; Solution company that has gain expertise in the field of Software Development, Accounting Software and Digital Signature Certificate.
        </h4>
        <h4 class="about_p2">
            With our rich experience, deep domain knowledge, success stories, and technology expertise, we deliver transformational solutions to enterprises and Governments. We work with the same care and diligence to make each of our engagements a success, one at a time, small or large.
        </h4>
        <h4 class="about_p3">
            Our balanced work-life culture, supported by strong principles to excel, questions the status quo and brings the best out-of-the-box ideas. Owing to our optimized and result-oriented IT products &amp; services, we have helped many organizations as their valuable technology partners, to scale up the ladder of success.
        </h4>

    </div>
</div>
<div class="iwc"> <h1> Industries We Cater<h1></div>
<div class="row iwc_cater">
    <div class="col-sm-4">
        <ul>
            <li>Agro Business</li>
            <li>Automobile</li>
            <li>Aviation & Aerospace</li>
            <li>Banking & Insurance</li>
            <li>BPO & KPO</li>
            <li>Consumer & Services</li>
            <li>Education</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <ul>
            <li>Agro Business</li>
            <li>Automobile</li>
            <li>Aviation & Aerospace</li>
            <li>Banking & Insurance</li>
            <li>BPO & KPO</li>
            <li>Consumer & Services</li>
            <li>Education</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <ul>
            <li>Agro Business</li>
            <li>Automobile</li>
            <li>Aviation & Aerospace</li>
            <li>Banking & Insurance</li>
            <li>BPO & KPO</li>
            <li>Consumer & Services</li>
            <li>Education</li>
        </ul>
    </div>
</div>

{% endblock %}
