{% extends 'base.html' %}
{% block service_body %}
<div class= 'service_head'><h2><span> >> </span> Services </h2>
</div>

<div class="our_services_head"> <h2> Our Services </h2>
</div>

<div style="background-color: #F9F9F9;">
    <div class="row">
        <div class="col-sm-6">
            <img src="http://www.suvizion.com/img/teamwork.png" alt="requirement_img" class="requirement_img">
            <h3 class="requirement">Requirement</h3>
            <div class="reqP">
                <p>We make sure to enrich your team with only the best in your industry’s field. Let us know what your company’s needs are and what are your requirements from your employees and we’ll do the rest. Simply focus on your business and we’ll deliver the talent.</p>
                <p>
                    Pearl Infotech has been providing an efficient, effective and enjoyable staffing experience to employers since 2013. Our job as consultants is to understand the needs of the employers and job seekers to help bring together the perfect match in expertise, skill and personality.
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="http://www.suvizion.com/img/search.png"  alt="corporate_img" class="corporate_training">
            <h3 class="cTraining">Corporate Training</h3>
            <div class="cTrainingP">
                <p>
                    We are passionate about innovating, planning and executing the best engagement experiences. Our activities help to strengthen relationships and deepen the understanding of individual skill sets. You can count on us to deliver a fun, memorable event virtually or in person with great team engagement and lasting results.
                </p>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-6">
            <img src="http://www.suvizion.com/img/payroll.png" alt="payroll_img" class="payroll_img">
            <h3 class="payroll_heading">Payroll</h3>
            <div class="payroll_P">
                <p>We furnish you with better help for remuneration the executives of your business that ought to be payed to the workers for the given time frame. We give you an expert Payroll the executives help by bookkeeping your business finance framework regardless of the size of the business you work with.
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="http://www.suvizion.com/img/consulting.png" alt="campus_img" class="campus_img">
            <h3 class="campus_heading">Campus Requirement</h3>
            <div class="campus_P">
                <p>
                    We are providing campus placements, job fairs in various colleges and institutes across India. In this program, we partnered with more than 150+ colleges. We are helping several colleges students to get their dream jobs by partnering with the colleges and clients.
                </p>
            </div>
        </div>
    </div>

    <div class="row" style=" margin-top: 10px;">
        <div class="col-sm-6">
            <img src="http://www.suvizion.com/img/erp.png" alt="crtProgramme_img" class="crtProgramme_img">
            <h3 class="crtProgramme_heading">Campus Recruitment Training Programs</h3>
            <div class="crtProgramming_p">
                <p>The preparation incorporates all modules that a large portion of the organizations consider for fitness test i.e Quantitative capacity, Verbal, Logical Reasoning. Instruction Street program ensures that each module is aced by the understudy which leaves them with no choice than clearing the inclination around of the enrollment cycle. As a component of the course, understudies get practice activities and test papers for each test module followed by the extensive tests on the example of the tests led by significant organizations.
                To set up the understudy for the following stages, i.e Group Discussion (GD) and Personal Interview (PI), a homeroom direction is led on fundamental relational abilities, GD and Interview rudiments, trailed by MOCK GD and Interview. Instruction Street gives concentrated preparing to Group Discussion and meeting by directing different rounds of GD and PI.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="http://www.suvizion.com/img/temporary.png" alt="corporate_img" class="ctProgramme_img">
            <h3 class="ctProgramme_heading">Certification Training Programs</h3>
            <div class="ctProgramme_p">
                <p>
                    Pearl Infotech behavioural and domain training programs are designed to deliver a measurable impact on individual and team performance that catapults your organization to achieve goals. Using our proven approach of heart-centric learning, we create learning experiences that create a close-knit culture of enthused and high-energy team members.
                    Our certificate training programs helps students and job seekers to get the jobs easily compare to other candidates.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}